{
    "presets": [
      [
        "@babel/preset-env", // Uses plugins dynamically based on what's needed
        {
          "targets": {
            "browsers": [ "last 2 versions" ]
          },
          "debug": true
        }
      ]
    ],
    // "plugins": [ "@babel/transform-runtime" ]
  }