{
    "presets": [
      [
        "@babel/preset-env", // Uses plugins dynamically based on what's needed
        {
          "debug": true,
          "useBuiltIns": "usage" // Uses polyfills based on what's needed
        }
      ]
    ],
    "plugins": [ "@babel/plugin-transform-runtime" ]
  }