body{
    margin: 0;
    background-color: gray;
    font-family: sans-serif;
}
a {
    color: white;
    text-decoration: none;
}

.main-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

h1 {
    color: white;;
    font-size: 10em;
    font-family: sans-serif;
    text-shadow: 0 0 10px black;
    text-align: center;
}

.astronaut-list{
    color: white;
    font-size: 2em;
    background-color: rgba(68, 84, 173, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.astronaut-list-item{
    text-align: left;
    text-shadow: 0 0 10px black;
}
