body{
    margin: 0;
    background-color: gray;
}
h1 {
    color: white;
    font-size: 5em;
    font-family: sans-serif;
    text-shadow: 0 0 10px black;
}
img {
    border-radius: 100%;
    width: 300px;
}
.profile{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}